body {
  margin: 0px;
  background-image: url("https://images8.alphacoders.com/465/thumb-1920-465667.jpg");
  /* background: #f7f2f7; */
}

.login-page{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  }
  
.login-container {
  background-color: rgba(255, 255, 255, 0.8);
  height: 40%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.top-page {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: helvetica;
  font-size: 20px;
  color: #f7f2f7;
}

h1 {
  font-family: courier;
  font-size: 35px;
}

.container-form {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-bottom: -1px;
}

.destination {
  margin-top: 3px;
  height: 21px;
  width: 200px;
}

.form-button {
  margin-left: 10px;
  margin-top: 40px;
  background-color: #EDE3FF;
  border-radius: 8px;
  border-style: none;
  color: #39254D;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  height: 30px;
}

.bottom-page {
  height: 60vh;
  width: 100%;
  font-family: helvetica;
}

.trip-cards {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 24vw [col-start]);
  grid-template-rows: repeat(1, 58vh [row-start]);
  justify-items: center;
  align-items: center;
}

.new-trip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #e9e2ed;
  border-radius: 10px;
  overflow: hidden;
  width: 20vw;
  transition: transform .5s;
}

.card:hover {
  transform: scale(1.1);
}

.card-no-hover {
  margin: 11px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  width: 20vw;
}

.card-header img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  min-height: 30vh;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 2vh;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #007c8a;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #d71499;
}

.card-body p {
  font-size: initial;
  font-weight: 800;
}

.submit-new-trip-button, .cancel-new-trip-button{
  background-color: #5e76bf;
  border-radius: 8px;
  border-style: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 18px;
  height: 40px;
  padding: 10px 16px;
}

.hidden {
  display: none;
}
