body {
  margin: 0px;
  background: #eff7fa
}

.top-page {
  background-image: url("https://images.unsplash.com/photo-1443632864897-14973fa006cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-repeat: no-repeat;
  border: 1px solid black;
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-form {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-button {
  margin-left: 15px;
  margin-top: 18px;
  height: 20px;
  width: 80px;
}

.bottom-page {
  height: 60vh;
  width: 100%;
}

.trip-cards,.new-trip-container {
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(4, 24vw [col-start]);
  grid-template-rows: repeat(1, 58vh [row-start]);
  justify-items: center;
  align-items: center;
}

.card {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 20vw;
  transition: transform .5s;
}

.card:hover {
  transform: scale(1.1);
}

.card-no-hover {
  margin: 11px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  width: 20vw;
}

.card-header img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 5%;
  min-height: 30vh;
}

.tag {
  background: #cccccc;
  border-radius: 50px;
  font-size: 2vh;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background-color: #007c8a;
}

.tag-purple {
  background-color: #5e76bf;
}

.tag-pink {
  background-color: #d71499;
}

.card-body p {
  font-size: initial;
  font-weight: 800;
}

/* .button-style {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
} */

.hidden {
  display: none;
}